In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
grades = ["A","B","C","D"]

marks = [1,2,3,4]

arr_marks = np.array(marks)

d = {"A":1,"B":2,"C":3,"D":4}

In [4]:
pd.Series(data = arr_marks,index = grades)

A    1
B    2
C    3
D    4
dtype: int32

In [5]:
pd.Series(arr_marks,grades)

A    1
B    2
C    3
D    4
dtype: int32

In [6]:
pd.Series(marks,grades)

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
pd.Series(data = marks,index = grades)

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
pd.Series(d)

A    1
B    2
C    3
D    4
dtype: int64

In [10]:
pd.Series(grades)

0    A
1    B
2    C
3    D
dtype: object

In [11]:
pd.Series(data = [print,sum,bool] )

0    <built-in function print>
1      <built-in function sum>
2               <class 'bool'>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4],["China","India","USA","Indonesia"])

In [13]:
ser1

China        1
India        2
USA          3
Indonesia    4
dtype: int64

In [14]:
ser2 = pd.Series([4,5,6,7],["China","Japan","USA","USSR"])

In [15]:
ser2

China    4
Japan    5
USA      6
USSR     7
dtype: int64

In [16]:
ser1 + ser2

China        5.0
India        NaN
Indonesia    NaN
Japan        NaN
USA          9.0
USSR         NaN
dtype: float64